@import "tailwindcss";
:root {
    --color-dark-navy: #0b1517;
    --color-secondary: #D4A857;
}

.bg-dark-navy {
    background-color: var(--color-dark-navy);
}

.text-dark-navy {
    color: var(--color-dark-navy);
}

.heading-secondary {
    color: var(--color-secondary);
}

.text-secondary {
    color: var(--color-secondary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.button-secondary {
    background-color: var(--color-secondary);
}

.border-secondary {
    border: 2px solid var(--color-secondary);
}


/* Hide scrollbar for Chrome, Safari and Opera */

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.4s ease-out;
}